.App {
  padding: 5em;
}

.headingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchResults {
  display: flex;
  justify-content: center;
}

.postList {
  display: flex;
  flex-direction: row;
}

.titleWrapper {
  padding-top: 5em;
}