.App {
  padding: 5em;
}

.headingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postList {
  display: flex;
  justify-content: space-around;
    flex-wrap: wrap;
}

.uploadButton {
  height: 2.5em;
  width: 15%;
}

.titleWrapper {
  padding-top: 5em;
}
